/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assigments/HW01/AreaDodecaegon/nbproject/private/
/assigments/HW01/AreaDodecaegon/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonShort/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonShort/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonInt/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonInt/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonFloat/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonFloat/build/
/workshops/unit1/WS04 LogicalOperators/LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/LogicalOperators/build/