/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assigments/HW01/AreaDodecaegon/nbproject/private/
/assigments/HW01/AreaDodecaegon/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonShort/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonShort/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonInt/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonInt/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonFloat/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonFloat/build/
/workshops/unit1/WS04 LogicalOperators/LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/LogicalOperators/build/
/workshops/unit1/WS05/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Interations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Interations/build/
/assigments/unit1/HW03 - Iterations/Iterations/nbproject/private/
/assigments/unit1/HW03 - Iterations/Iterations/build/
/workshops/unit1/WS07Menu/Menu/nbproject/private/
/workshops/unit1/WS07Menu/Menu/build/
/assigments/unit1/HW04Menues/Menues/nbproject/private/
/assigments/unit1/HW04Menues/Menues/build/
/Exams/Unit1/Question11/DuquePatricioQ11/nbproject/private/
/Exams/Unit1/Question11/DuquePatricioQ11/build/
/workshops/unit2/WS08ExamCorrection/WS08ExamCorrection/nbproject/private/
/workshops/unit2/WS08ExamCorrection/WS08ExamCorrection/build/
/assigments/unit2/HW08Factorial/nbproject/private/
/assigments/unit2/HW08Factorial/build/
/assigments/unit2/HW09EmbeddedStructures/nbproject/private/
/assigments/unit2/HW09EmbeddedStructures/build/
/workshops/unit2/WS09FUNCTIONS/nbproject/private/
/workshops/unit2/WS09FUNCTIONS/build/
/assigments/unit2/HW10Functions/nbproject/private/
/assigments/unit2/HW10Functions/build/
/workshops/unit2/WS11FunctionsAndRecursion/nbproject/private/
/workshops/unit2/WS11FunctionsAndRecursion/build/
/assigments/unit2/HW11Recursion/nbproject/private/
/assigments/unit2/HW11Recursion/build/
/assigments/unit2/HW11.1FunctionsTeam/nbproject/private/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/assigments/unit2/HW12TaxCalculator/nbproject/private/
/assigments/unit2/HW12TaxCalculator/build/
/assigments/unit2/WS13ComputeAreasAndFormulas/nbproject/private/
/assigments/unit2/WS13ComputeAreasAndFormulas/build/
/workshops/unit2/WS14zooInventory/nbproject/private/
/workshops/unit2/WS14zooInventory/build/
/assigments/unit2/HW14Arrayce/nbproject/private/
/assigments/unit2/HW14Arrayce/build/
/Quiz/quiz0120210222/nbproject/private/
/Quiz/quiz 2021-02-22/nbproject/private/
/Quiz/quiz 2021-02-22/build/