/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assigments/HW01/AreaDodecaegon/nbproject/private/
/assigments/HW01/AreaDodecaegon/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonShort/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonShort/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonInt/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonInt/build/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonFloat/nbproject/private/
/assigments/Unit I/HW02 - AreaDodecaegon/AreaDodecagonFloat/build/
/workshops/unit1/WS04 LogicalOperators/LogicalOperators/nbproject/private/
/workshops/unit1/WS04 LogicalOperators/LogicalOperators/build/
/workshops/unit1/WS05/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Interations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Interations/build/
/assigments/unit1/HW03 - Iterations/Iterations/nbproject/private/
/assigments/unit1/HW03 - Iterations/Iterations/build/
/workshops/unit1/WS07Menu/Menu/nbproject/private/
/workshops/unit1/WS07Menu/Menu/build/
/assigments/unit1/HW04Menues/Menues/nbproject/private/
/assigments/unit1/HW04Menues/Menues/build/